body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1 {
  color: #878787;
  font-size: 35px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration-line: none;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration-line: none;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.gif-card {
  padding: 0;
  clip-path: inset(0 5% 0 round 10px);
}
